name: CI

on:
  workflow_call:

jobs:
  windows:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - runs-on: windows-latest
            arch: amd64
            msvc_arch: amd64

          - runs-on: windows-11-arm
            arch: arm64
            msvc_arch: amd64_arm64

    env:
      ARCH: ${{ matrix.arch }}

    steps:
      - uses: actions/checkout@v4

      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.msvc_arch }}

      - name: Install wget
        run: choco install wget

      - name: Build
        shell: bash
        run: |
          chmod a+x ./windows/build.sh
          ./windows/build.sh

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-${{ matrix.arch }}
          path: artifacts/*

  android:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v4

      - name: Build
        shell: bash
        run: |
          chmod a+x ./android/build.sh
          ./android/build.sh

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: android
          path: artifacts/*

  linux:
    name: "Linux ${{ matrix.arch }}"
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - runs-on: ubuntu-latest
            arch: amd64

          - runs-on: ubuntu-24.04-arm
            arch: aarch64

    steps:
      - uses: actions/checkout@v4

      - name: Build (Linux)
        run: |
          chmod a+x ./unix/build.sh ./unix/linux-deps.sh
          ./unix/linux-deps.sh
          ./unix/build.sh

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-${{ matrix.arch }}
          path: artifacts/*

  unix:
    name: "${{ matrix.platform }} ${{ matrix.arch }}"
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: solaris
            runs-on: ubuntu-latest
            arch: amd64
            vm-arch: x86_64

          - platform: freebsd
            runs-on: ubuntu-latest
            arch: amd64
            vm-arch: x86_64

          - platform: openbsd
            runs-on: ubuntu-latest
            arch: amd64
            vm-arch: x86_64

    env:
      PLATFORM: ${{ matrix.platform }}
      ARCH: ${{ matrix.arch }}

    steps:
      - uses: actions/checkout@v4

      - name: Disable man-db updates
        run: sudo rm /var/lib/man-db/auto-update

      - name: Build (Solaris)
        if: matrix.platform == 'solaris'
        uses: vmactions/omnios-vm@v1
        with:
          arch: ${{ matrix.vm-arch }}
          release: "r151054"
          usesh: true
          envs: 'PLATFORM ARCH GITHUB_WORKSPACE'

          run: |
            chmod a+x ./unix/omnios-deps.sh
            bash unix/omnios-deps.sh

            chmod a+x ./unix/build.sh
            ./unix/build.sh

      - name: Build (FreeBSD)
        if: matrix.platform == 'freebsd'
        uses: vmactions/freebsd-vm@v1.2.2
        with:
          arch: ${{ matrix.vm-arch }}
          usesh: true
          envs: 'PLATFORM ARCH GITHUB_WORKSPACE'
          prepare: |
            pkg install -y bash

          run: |
            chmod a+x ./unix/freebsd-deps.sh
            bash unix/freebsd-deps.sh

            chmod a+x ./unix/build.sh
            bash unix/build.sh

      - name: Build (OpenBSD)
        if: matrix.platform == 'openbsd'
        uses: vmactions/openbsd-vm@v1
        with:
          arch: ${{ matrix.vm-arch }}
          usesh: true
          envs: 'PLATFORM ARCH GITHUB_WORKSPACE'
          prepare: |
            pkg_add bash

          run: |
            chmod a+x ./unix/openbsd-deps.sh
            bash unix/openbsd-deps.sh

            chmod a+x ./unix/build.sh
            bash unix/build.sh

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform }}-${{ matrix.arch }}
          path: artifacts/*